<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Acapulco Store</title>
</head>

<body>
    <%- include('partials/nav') %>
    <main>
        <div class="contenedor">
            <p class="title"><span><%=producto%></span> fue agregado.</p>
        </div>
    </main>
</body>

</html>